# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## temp files left behind by Vim.
*~

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
/_book/
/node_modules/

# eBook build output. You used to have pdf here but you decided 
# to have some pdf material in the directory.
*.epub
*.mobi

# from Fleck, not yours:
/Daily_Rap

# incorporate eventually?
/For-later

# mdbook output
/my-example-book


